.post-table {
    background: #EEE;
    border: 1px solid #CCC;
    border-spacing: 0;
    color: #333;
    width: 100%
}
.post-table td {
    border-bottom: 1px solid #CCC;
    border-right: 1px solid #CCC;
    padding: 3px 6px
}
.tuto-tag {
    background: #39C;
    border-radius: 3px;
    color: #FFF;
    font-weight: 700;
    padding: 2px 8px
}
.tuto-content + br,
.tuto-footer + br,
.tuto-header + br {
    display: none
}
.tuto-content,
.tuto-footer,
.tuto-header {
    border-spacing: 0;
    width: 100%
}
.tuto-header a,
.tuto-header font {
    color: #FFF!important
}
.tuto-header {
    background: #39C;
    border: 1px solid #39C;
    border-radius: 3px 3px 0 0;
    color: #FFF;
    font-family: "Trebuchet MS", Arial, Verdana, Sans-serif;
    padding: 3px
}
.tuto-logo,
.tuto-type {
    height: 75px;
    position: relative;
    text-align: center;
    width: 150px
}
.tuto-title {
    font-size: 22px;
    text-align: center
}
.tuto-logo:after {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    content: "\f086";
    font-family: FontAwesome;
    font-size: 49px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1;
    text-rendering: auto
}
.announcement .tuto-logo:after {
    content: "\f0a1"
}
.tutorial .tuto-logo:after {
    content: "\f0d0"
}
.rules .tuto-logo:after {
    content: "\f071"
}
.review .tuto-logo:after {
    content: "\f046"
}
.graphic .tuto-logo:after {
    content: "\f1fc"
}
.tuto-type:after {
    background: #FFF;
    border-radius: 0 0 3px 3px;
    color: #39C;
    content: "Template";
    display: inline-block;
    font-size: 12px;
    font-weight: 700;
    padding: 3px 9px;
    position: absolute;
    right: 20px;
    top: -3px
}
.announcement .tuto-type:after {
    content: "Announcement"
}
.tutorial .tuto-type:after {
    color: #8B5;
    content: "Tutorial"
}
.rules .tuto-type:after {
    color: #ed765e;
    content: "Important"
}
.review .tuto-type:after {
    color: #5AB584;
    content: "Review"
}
.graphic .tuto-type:after {
    color: #e06b59;
    content: "Graphic Design"
}
.tuto-content {
    background: #FFF;
    border: 1px solid #39C;
    border-bottom: 3px dashed #CCC!important;
    padding: 3px
}
.tuto-footer {
    background: #FFF;
    border: 1px solid #39C;
    border-bottom-width: 5px;
    border-radius: 0 0 3px 3px;
    border-top: none
}
.tuto-credit {
    padding: 10px 6px;
    position: relative;
    text-align: justify;
    vertical-align: middle
}
.tuto-brand {
    height: 60px;
    padding: 6px 0;
    text-align: center;
    vertical-align: bottom;
    width: 120px
}
.tuto-brand:before {
    color: #39C;
    content: "Forum"
}
.tuto-brand:after {
    color: #333;
    content: "otion.com"
}
.tuto-credit:after {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    bottom: 20px;
    color: #39C;
    content: "\f086";
    font-family: FontAwesome;
    font-size: 49px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1;
    position: absolute;
    right: -85px;
    text-rendering: auto
}
.tuto-header.tutorial {
    background-color: #8B5;
    border-color: #8B5
}
.tutorial + .tuto-content,
.tutorial + .tuto-content + .tuto-footer,
.tutorial + br + .tuto-content,
.tutorial + br + .tuto-content + br + .tuto-footer {
    border-color: #8B5
}
.tuto-header.rules {
    background-color: #ed765e;
    border-color: #ed765e
}
.rules + .tuto-content,
.rules + .tuto-content + .tuto-footer,
.rules + br + .tuto-content,
.rules + br + .tuto-content + br + .tuto-footer {
    border-color: #ed765e
}
.tuto-header.review {
    background-color: #5AB584;
    border-color: #5AB584
}
.review + .tuto-content,
.review + .tuto-content + .tuto-footer,
.review + br + .tuto-content,
.review + br + .tuto-content + br + .tuto-footer {
    border-color: #5AB584
}
.sticker-points img,
.tuto-content table[style="width:100%;"] td[style="width:50%;text-align:center;"] img {
    vertical-align: middle
}
.tuto-header.graphic {
    background-color: #e06b59;
    border-color: #e06b59
}
.graphic + .tuto-content,
.graphic + .tuto-content + .tuto-footer,
.graphic + br + .tuto-content,
.graphic + br + .tuto-content + br + .tuto-footer {
    border-color: #e06b59
}
#fa_notice {
    background: #FFF url(http://i18.servimg.com/u/f18/18/21/41/30/bull-f10.png) no-repeat 10px 50%;
    border: 1px solid #39C;
    border-radius: 3px;
    color: #333;
    font-family: Verdana, Helvetica, Sans-serif;
    font-size: 13px;
    margin: 12px 0;
    padding: 25px 6px 25px 70px
}
#fa_notice.noti_warn {
    background-color: #FEE;
    background-image: url(http://i18.servimg.com/u/f18/18/21/41/30/warn-f10.png);
    border-color: #C99;
    color: #933
}

.poster td{background-image: url('http://i49.servimg.com/u/f49/16/89/40/74/oouou10.png');border:1px solid;background-color: #ffface;background-position: right center;background-repeat: no-repeat;border: 1px solid;border-radius: .3em;border-color: #e4c259;padding: 10px 40px 10px 10px;line-height: 20px;}
.safe td{background-image: url('http://i49.servimg.com/u/f49/16/89/40/74/ouu10.png');border:1px solid;background-color: #ffface;background-position: right center;background-repeat: no-repeat;border: 1px solid;border-radius: .3em;border-color: #e4c259;padding: 10px 40px 10px 10px;line-height: 20px;}
.t7zer td{background-image: url('http://i49.servimg.com/u/f49/16/89/40/74/ooouso11.png');border:1px solid;background-color: #ffface;background-position: right center;background-repeat: no-repeat;border: 1px solid;border-radius: .3em;border-color: #e4c259;padding: 10px 40px 10px 10px;line-height: 20px;}
.Medalya td{background-image: url('http://i49.servimg.com/u/f49/16/89/40/74/medal10.png');border:1px solid;background-color: rgb(242, 234, 207);background-position: right center;background-repeat: no-repeat;border: 1px solid;border-radius: .3em;border-color: #e4c259;padding: 10px 40px 10px 10px;line-height: 20px;}
.good td{background-image: url('http://i49.servimg.com/u/f49/16/89/40/74/ou_ouo10.png');border:1px solid;background-color: #e4f5c9;background-position: right center;background-repeat: no-repeat;border: 1px solid;border-radius: .3em;border-color: #e4c259;padding: 10px 40px 10px 10px;line-height: 20px;}
.5ta2 td{background-image: url('http://i49.servimg.com/u/f49/16/89/40/74/ooo11.png');border:1px solid;background-color:#facdcd;background-position: right center;background-repeat: no-repeat;border: 1px solid;border-radius: .3em;border-color: #e4c259;padding: 10px 40px 10px 10px;line-height: 20px;}
.tools td{background-image: url('http://i49.servimg.com/u/f49/16/89/40/74/ouusou10.png');border:1px solid;background-color:#d3e6ef;background-position: right center;background-repeat: no-repeat;border: 1px solid;border-radius: .3em;border-color: #e4c259;padding: 10px 40px 10px 10px;line-height: 20px;}
.fkra td{background-image: url('http://i49.servimg.com/u/f49/16/89/40/74/uuoo10.png');border:1px solid;background-color:#ffface;background-position: right center;background-repeat: no-repeat;border: 1px solid;border-radius: .3em;border-color: #e4c259;padding: 10px 40px 10px 10px;line-height: 20px;}
.help td{background-image: url('http://i49.servimg.com/u/f49/16/89/40/74/uooooo10.png');border:1px solid;background-color:#d3e6ef;background-position: right center;background-repeat: no-repeat;border: 1px solid;border-radius: .3em;border-color: #93c;padding: 10px 40px 10px 10px;line-height: 20px;}
.mail td{background: url('http://i12.servimg.com/u/f12/17/24/11/70/gifts-10.png') right;border:1px solid;background-color: rgb(242, 234, 207);background-position: right center;background-repeat: no-repeat;border: 1px solid;border-radius: .3em;border-color: #e4c259;padding: 10px 40px 10px 10px;line-height: 20px;}

.post-button a {
    -webkit-transition: 300ms;
    background-color: #39C;
    border: 1px solid #39C;
    border-radius: 3px;
    color: #FFF;
    display: inline-block;
    font-weight: 700;
    padding: 6px 12px;
    text-decoration: none;
    transition: 300ms
}
.post-button.red a {
    background-color: #E53;
    border-color: #E53
}
.post-button.green a {
    background-color: #8C5;
    border-color: #8C5
}
.post-button.yellow a {
    background-color: #EB3;
    border-color: #EB3
}
.post-button a:hover {
    background-color: #28B
}
.post-button.red a:hover {
    background-color: #D42
}
.post-button.green a:hover {
    background-color: #7B4
}
.post-button.yellow a:hover {
    background-color: #DA2
}
.post-button a:active,
.post-button a:focus {
    background-color: #333!important;
    border-color: #222!important
}
.post-button i {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-family: FontAwesome;
    font-size: inherit;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 1;
    text-rendering: auto;
    transform: translate(0, 0)
}

.modAlert {
    background: #FFF;
    border: 1px solid #CCC;
    border-left-width: 5px;
    border-radius: 3px;
    border-spacing: 0;
    margin: 6px auto;
    width: 90%
}
.modAlertEdit,
.modAlertEdit1,
.modAlertEdit9 {
    border-left-color: #EABB3D
}
.modAlertEdit11,
.modAlertEdit2,
.modAlertEdit7 {
    border-left-color: #84C754
}
.modAlertEdit13,
.modAlertEdit3,
.modAlertEdit5 {
    border-left-color: #E7553D
}
.modAlertEdit10,
.modAlertEdit12,
.modAlertEdit4 {
    border-left-color: #39c
}
.modAlertEdit6,
.modAlertEdit8 {
    border-left-color: #2D3134
}
.modAlertImage,
.modAlertImage1,
.modAlertImage10,
.modAlertImage11,
.modAlertImage12,
.modAlertImage13,
.modAlertImage2,
.modAlertImage3,
.modAlertImage4,
.modAlertImage5,
.modAlertImage6,
.modAlertImage7,
.modAlertImage8,
.modAlertImage9 {
    border-right: 1px solid #CCC;
    text-align: center;
    width: 70px
}
.modAlertImage {
    background: url(http://i18.servimg.com/u/f18/16/89/96/68/change10.png) no-repeat center
}
.modAlertImage1 {
    background: url(http://i18.servimg.com/u/f18/16/89/96/68/double12.png) no-repeat center
}
.modAlertImage2 {
    background: url(http://i18.servimg.com/u/f18/16/89/96/68/topic_15.png) no-repeat center
}
.modAlertImage3 {
    background: url(http://i18.servimg.com/u/f18/16/89/96/68/declin11.png) no-repeat center
}
.modAlertImage4 {
    background: url(http://i18.servimg.com/u/f18/16/89/96/68/langua10.png) no-repeat center
}
.modAlertImage5 {
    background: url(http://i18.servimg.com/u/f18/16/89/96/68/bump10.png) no-repeat center
}
.modAlertImage6 {
    background: url(http://i18.servimg.com/u/f18/16/89/96/68/garbag10.png) no-repeat center
}
.modAlertImage7 {
    background: url(http://i18.servimg.com/u/f18/16/89/96/68/layout10.png) no-repeat center
}
.modAlertImage8 {
    background: url(http://i18.servimg.com/u/f18/16/89/96/68/no_rep10.png) no-repeat center
}
.modAlertImage9 {
    background: url(http://i18.servimg.com/u/f18/16/89/96/68/provid10.png) no-repeat center
}
.modAlertImage10 {
    background: url(http://i18.servimg.com/u/f18/16/89/96/68/reques10.png) no-repeat center
}
.modAlertImage11 {
    background: url(http://i18.servimg.com/u/f18/16/89/96/68/thanks16.png) no-repeat center
}
.modAlertImage12 {
    background: url(http://i18.servimg.com/u/f18/16/89/96/68/tagged10.png) no-repeat center
}
.modAlertImage13 {
    background: url(http://i18.servimg.com/u/f18/16/89/96/68/admin_10.png) no-repeat center
}
.modAlertText {
    padding: 3px;
    text-align: center
}
.modAlertExtra {
    border-spacing: 0;
    border-top: 1px solid #CCC;
    color: #666;
    display: block;
    font-family: "Trebuchet MS", Arial, Verdana, Sans-serif;
    font-size: 12px;
    font-style: italic;
    font-weight: 700;
    margin: 3px -3px 0;
    padding: 3px 3px 0;
    text-align: center;
    width: 100%
}
.modAlertExtra tbody,
.modAlertExtra td,
.modAlertExtra tr {
    display: block;
    width: 100%
}

#topicreview {
    height: 300px;
    overflow: auto;
    padding-right: 5px
}
#topicreview .postbody {
    float: none;
    height: auto;
    margin: 0;
    width: auto
}
#topicreview .post {
    height: auto
}
#topicreview h2 {
    border-bottom-width: 0
}

#cp-main .panel #topicreview span.corners-top {
    background-image: url(http://illiweb.com/fa/empty.gif)
}
#cp-main .panel #topicreview span.corners-top span {
    background-image: url(http://illiweb.com/fa/empty.gif)
}
#cp-main .panel #topicreview span.corners-bottom {
    background-image: url(http://illiweb.com/fa/empty.gif)
}
#cp-main .panel #topicreview span.corners-bottom span {
    background-image: url(http://illiweb.com/fa/empty.gif)
}
