.tuto-content + br,
.tuto-footer + br,
.tuto-header + br {
    display: none
}
.tuto-content,
.tuto-footer,
.tuto-header {
    border-spacing: 0;
    width: 100%
}
.tuto-header a,
.tuto-header font {
    color: #FFF!important
}
.tuto-header {
    background: #39C;
    border: 1px solid #39C;
    border-radius: 3px 3px 0 0;
    color: #FFF;
    font-family: "Trebuchet MS", Arial, Verdana, sans-serif, FontAwesome;
    padding: 3px
}
.tuto-logo,
.tuto-type {
    height: 75px;
    position: relative;
    text-align: center;
    width: 150px
}
.tuto-title {
    font-size: 22px;
    text-align: center
}
.tuto-logo:after {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    content: "\f086";
    font-family: FontAwesome;
    font-size: 49px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1;
    text-rendering: auto
}
.اعلان .tuto-logo:after {
    content: "\f0a1"
}
.شرح .tuto-logo:after {
    content: "\f0d0"
}
.قوانين .tuto-logo:after {
    content: "\f071"
}

.تصميم .tuto-logo:after {
    content: "\f1fc"
}
.tuto-type:after {
    background: #FFF;
    border-radius: 0 0 3px 3px;
    color: #39C;
    content: "Template";
    display: inline-block;
    font-size: 12px;
    font-weight: 700;
    padding: 3px 9px;
    position: absolute;
    right: 20px;
    top: -3px
}

.اعلان .tuto-type:after {
    content: "اعــــــــلان"
}
.شرح .tuto-type:after {
    color: #8B5;
    content: "شــــــــرح"
}
.قوانين .tuto-type:after {
    color: #ed765e;
    content: "هــــــــام"
}
.تصميم .tuto-type:after {
    color: #e06b59;
    content: "تصــــــــميم"
}

.tuto-content {
    background: #FFF;
    border: 1px solid #39C;
    border-bottom: 3px dashed #CCC!important;
    font-family: Verdana, Arial, Helvetica, sans-serif, FontAwesome;
    padding: 3px 20px
}
.tuto-footer {
    background: #FFF;
    border: 1px solid #39C;
    border-bottom-width: 5px;
    border-radius: 0 0 3px 3px;
    border-top: none
}
.tuto-credit {
    padding: 10px 6px;
    position: relative;
    text-align: justify;
    vertical-align: middle
}
.tuto-brand {
    height: 60px;
    padding: 6px 0;
    text-align: center;
    vertical-align: bottom;
    width: 120px
}
.tuto-brand:before {
    color: #69C;
    content: "احلى"
}
.tuto-brand:after {
    color: #333;
    content: "مطور "
}
.tuto-credit:after {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    bottom: 16px;
    color: #39C;
    content: "\f121";
    font-family: FontAwesome;
    font-size: 49px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1;
    position: absolute;
    left: -85px;
    text-rendering: auto
}
.postbody img[longdesc="213"],
.postbody img[longdesc="214"] {
    vertical-align: middle
}
table.list-in-tutos {
    border: 0;
    border-spacing: 0;
    width: 100%
}
table.list-in-tutos td {
    border-bottom: 1px solid #DDD;
    padding: 5px
}
.tuto-info-green {
    background-color: #b7e5a0;
    color: #000;
    width: 100%
}
.tuto-info-red {
    background-color: #E9553C;
    color: #fff;
    width: 100%
}
.tuto-header.شرح {
    background-color: #8B5;
    border-color: #8B5
}
.شرح + .tuto-content,
.شرح + .tuto-content + .tuto-footer,
.شرح + br + .tuto-content,
.شرح + br + .tuto-content + br + .tuto-footer {
    border-color: #8B5
}
.tuto-header.قوانين {
    background-color: #787dea;
    border-color: #787dea
}
.قوانين + .tuto-content,
.قوانين + .tuto-content + .tuto-footer,
.قوانين + br + .tuto-content,
.قوانين + br + .tuto-content + br + .tuto-footer {
    border-color: #787dea
}
.sticker-points img,
.tuto-content table[style="width:100%;"] td[style="width:50%;text-align:center;"] img {
    vertical-align: middle
}
.tuto-header.تصميم {
    background-color: #e06b59;
    border-color: #e06b59
}
.تصميم + .tuto-content,
.تصميم + .tuto-content + .tuto-footer,
.تصميم + br + .tuto-content,
.تصميم + br + .tuto-content + br + .tuto-footer {
    border-color: #e06b59
}
#fa_notice {
    background: #FFF url(https://i.servimg.com/u/f18/18/21/41/30/bull-f10.png) no-repeat 10px 50%;
    border: 1px solid #39C;
    border-radius: 3px;
    color: #333;
    font-family: Verdana, Helvetica, Sans-serif;
    font-size: 13px;
    margin: 12px 0;
    padding: 25px 6px 25px 70px
}
#fa_notice.noti_warn {
    background-color: #FEE;
    background-image: url(https://i.servimg.com/u/f18/18/21/41/30/warn-f10.png);
    border-color: #C99;
    color: #933
}


.modAlert {
    background: #FFF;
    border: 1px solid #CCC;
    border-right-width: 5px;
    border-radius: 3px;
    border-spacing: 0;
    margin: 6px auto;
    width: 90%
}
.modAlertEdit,
.modAlertEdit1,
.modAlertEdit9 {
    border-right-color: #EABB3D
}
.modAlertEdit11,
.modAlertEdit2,
.modAlertEdit7 {
    border-right-color: #84C754
}
.modAlertEdit13,
.modAlertEdit3,
.modAlertEdit5 {
    border-right-color: #E7553D
}
.modAlertEdit10,
.modAlertEdit12,
.modAlertEdit4 {
    border-right-color: #69c
}
.modAlertEdit6,
.modAlertEdit8 {
    border-right-color: #2D3134
}
.modAlertImage,
.modAlertImage1,
.modAlertImage10,
.modAlertImage11,
.modAlertImage12,
.modAlertImage13,
.modAlertImage2,
.modAlertImage3,
.modAlertImage4,
.modAlertImage5,
.modAlertImage6,
.modAlertImage7,
.modAlertImage8,
.modAlertImage9 {
    border-left: 1px solid #CCC;
    text-align: center;
    width: 70px
}
.modAlertImage {
    background: url(https://i.servimg.com/u/f18/16/89/96/68/change10.png) no-repeat center
}
.modAlertImage1 {
    background: url(https://i.servimg.com/u/f18/16/89/96/68/double12.png) no-repeat center
}
.modAlertImage2 {
    background: url(https://i.servimg.com/u/f18/16/89/96/68/topic_15.png) no-repeat center
}
.modAlertImage3 {
    background: url(https://i.servimg.com/u/f18/16/89/96/68/declin11.png) no-repeat center
}
.modAlertImage4 {
    background: url(https://i.servimg.com/u/f18/16/89/96/68/langua10.png) no-repeat center
}
.modAlertImage5 {
    background: url(https://i.servimg.com/u/f18/16/89/96/68/bump10.png) no-repeat center
}
.modAlertImage6 {
    background: url(https://i.servimg.com/u/f18/16/89/96/68/garbag10.png) no-repeat center
}
.modAlertImage7 {
    background: url(https://i.servimg.com/u/f18/16/89/96/68/layout10.png) no-repeat center
}
.modAlertImage8 {
    background: url(https://i.servimg.com/u/f18/16/89/96/68/no_rep10.png) no-repeat center
}
.modAlertImage9 {
    background: url(https://i.servimg.com/u/f18/16/89/96/68/provid10.png) no-repeat center
}
.modAlertImage10 {
    background: url(https://i.servimg.com/u/f18/16/89/96/68/reques10.png) no-repeat center
}
.modAlertImage11 {
    background: url(https://i.servimg.com/u/f18/16/89/96/68/thanks16.png) no-repeat center
}
.modAlertImage12 {
    background: url(https://i.servimg.com/u/f18/16/89/96/68/tagged10.png) no-repeat center
}
.modAlertImage13 {
    background: url(https://i.servimg.com/u/f18/16/89/96/68/admin_10.png) no-repeat center
}
.modAlertText {
    padding: 3px;
    text-align: center
}
.modAlertExtra {
    border-spacing: 0;
    border-top: 1px solid #CCC;
    color: #666;
    display: block;
    font-family: "Trebuchet MS", Arial, Verdana, Sans-serif;
    font-size: 12px;
    font-style: italic;
    font-weight: 700;
    margin: 3px -3px 0;
    padding: 3px 3px 0;
    text-align: center;
    width: 100%
}
.modAlertExtra tbody,
.modAlertExtra td,
.modAlertExtra tr {
    display: block;
    width: 100%
}
